<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%">
<head>
    <title>榜中各游戏拥有的tag数量占比</title>
    <style>
      header {
            background-color: #091e2f;
            color: #cfd9db;
            padding: 10px;
            text-align: center;
            font-size: 26px;
      }
      body{
          background-color: rgb(207, 217, 219);
          margin: 20px;
    }
    .chart-container{
          height: 800px;
          margin-bottom: 0;
    }

    .return-button {
      position: fixed;
      top: 0;
      right: 0;
      padding: 8px 12px;
      background-color: #091e2f;
      color: #cfd9db;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 18px;
    }
  </style>
</head>
<body style="height: 100%; margin: 0">
  <header>
    <h1>榜中各游戏拥有的tag数量</h1>
  </header>
  <div class="chart-container">
    <div id="container1" style="height: 100%"></div>
  </div>
  <div class="chart-container">
    <div id="container2" style="height: 100%"></div>
  </div>
  <div class="chart-container">
    <div id="container3" style="height: 100%"></div>
  </div>
  <div class="chart-container">
    <div id="container4" style="height: 100%"></div>
  </div>
  <div class="chart-container">
    <div id="container5" style="height: 100%"></div>
  </div>

  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
  <script type="text/javascript">

    var tag_num1_pie = {{ tag_num1_pie|tojson|safe }};
    var tag_num11_pie = {{ tag_num11_pie|tojson|safe }};
    var tag_num2_pie = {{ tag_num2_pie|tojson|safe }};
    var tag_num3_pie = {{ tag_num3_pie|tojson|safe }};
    var tag_num31_pie = {{ tag_num31_pie|tojson|safe }};

    var dom1 = document.getElementById('container1');
    var myChart1 = echarts.init(dom1, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });

    var dom2 = document.getElementById('container2');
    var myChart2 = echarts.init(dom2, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });

    var dom3 = document.getElementById('container3');
    var myChart3 = echarts.init(dom3, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });

    var dom4 = document.getElementById('container4');
    var myChart4 = echarts.init(dom4, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });

    var dom5 = document.getElementById('container5');
    var myChart5 = echarts.init(dom5, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });

    var app = {};

    var option1 = {
    title: {
        text: '热门榜Android',
        left: 'center',
        top: '10%',
        textStyle: {
          color: '#091e2f',
          fontSize: 25
        }
    },

    tooltip: {
      trigger: 'item',
      formatter: '{a} <br/>{b} : {c}%'
  },

  legend: {
    orient: 'vertical',
    left: 'left',
    itemWidth: 30,
    itemHeight: 20,
    textStyle: {
      fontSize: 15
  }
  },

  series: [
    {
      name: 'tag数量',
      type: 'pie',
      radius: '60%',
      data: tag_num1_pie,
      label: {
        color: '#091e2f',
        fontSize: 15
      },
      emphasis: {
        itemStyle: {
          shadowBlur: 15,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};

    var option2 = {
  title: {
    text: '热门榜ios',
    left: 'center',
    top: '10%',
        textStyle: {
          color: '#091e2f',
          fontSize: 25
        }
  },
  tooltip: {
    trigger: 'item',
    formatter: '{a} <br/>{b} : {c}%'
  },
  legend: {
    orient: 'vertical',
    left: 'left',
    itemWidth: 30,
    itemHeight: 20,
    textStyle: {
      fontSize: 15
  }
  },
  series: [
    {
      name: 'tag数量',
      type: 'pie',
      radius: '60%',
      data: tag_num11_pie,
      label: {
        color: '#091e2f',
        fontSize: 15
      },
      emphasis: {
        itemStyle: {
          shadowBlur: 15,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};

    var option3 = {
    title: {
        text: '热玩榜Android',
        left: 'center',
        top: '10%',
        textStyle: {
          color: '#091e2f',
          fontSize: 25
        }
    },

    tooltip: {
      trigger: 'item',
      formatter: '{a} <br/>{b} : {c}%'
  },

  legend: {
    orient: 'vertical',
    left: 'left',
    itemWidth: 30,
    itemHeight: 20,
    textStyle: {
      fontSize: 15
  }
  },

  series: [
    {
      name: 'tag数量',
      type: 'pie',
      radius: '60%',
      data: tag_num2_pie,
      label: {
        color: '#091e2f',
        fontSize: 15
      },
      emphasis: {
        itemStyle: {
          shadowBlur: 15,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};

    var option4 = {
    title: {
        text: '预约榜Android',
        left: 'center',
        top: '10%',
        textStyle: {
          color: '#091e2f',
          fontSize: 25
        }
    },

    tooltip: {
      trigger: 'item',
      formatter: '{a} <br/>{b} : {c}%'
  },

  legend: {
    orient: 'vertical',
    left: 'left',
    itemWidth: 30,
    itemHeight: 20,
    textStyle: {
      fontSize: 15
  }
  },

  series: [
    {
      name: 'tag数量',
      type: 'pie',
      radius: '60%',
      data: tag_num3_pie,
      label: {
        color: '#091e2f',
        fontSize: 15
      },
      emphasis: {
        itemStyle: {
          shadowBlur: 15,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};

    var option5 = {
    title: {
        text: '预约榜ios',
        left: 'center',
        top: '10%',
        textStyle: {
          color: '#091e2f',
          fontSize: 25
        }
    },

    tooltip: {
      trigger: 'item',
      formatter: '{a} <br/>{b} : {c}%'
  },

  legend: {
    orient: 'vertical',
    left: 'left',
    itemWidth: 30,
    itemHeight: 20,
    textStyle: {
      fontSize: 15
  }
  },

  series: [
    {
      name: 'tag数量',
      type: 'pie',
      radius: '60%',
      data: tag_num31_pie,
      label: {
        color: '#091e2f',
        fontSize: 15
      },
      emphasis: {
        itemStyle: {
          shadowBlur: 15,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};

        myChart1.setOption(option1);
        myChart2.setOption(option2);
        myChart3.setOption(option3);
        myChart4.setOption(option4);
        myChart5.setOption(option5);

    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);
  </script>

   <button class="return-button" onclick="goBack()">返回</button>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</body>
</html>